<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ورود به حساب</title>
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="login-container">
    <h2>ورود به حساب</h2>

    <form action="/auth/local" method="post">
      <div class="input-field">
        <input type="email" name="email" placeholder="ایمیل" required>
      </div>
      <button class="btn" type="submit">ورود</button>

      <div class="divider">یا</div>

    </form>
    <a href="/auth/google" class="google-btn">
      <img src="/images/google_logo.svg" alt="Google Logo">
      ورود با گوگل
    </a>
  </div>
  <script src="/js/sweetalert.js"></script>
  <script>
    if ("<%=locals.messages.success%>") {
      swal({
        title: "Success",
        text: "<%=locals.messages.success%>",
        icon: "success",
        button: "ok",
      })
    } else if ("<%=locals.messages.error%>") {
      swal({
        title: "Error",
        text: "<%=locals.messages.error%>",
        icon: "error",
        button: "try again",
      })
    } 
  </script>
</body>

</html>