<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پست‌های من</title>
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/myPosts.css">
</head>
<body>
  <div class="blog-wrapper">
    <header class="blog-header">
      <h1>پست‌های من</h1>
      <div class="actions">
          <a href="/" class="btn home-btn">صفحه اصلی</a>
          <a href="/post/create" class="btn create-btn">ایجاد پست جدید</a>
          <a href="/user/me" class="btn profile-btn">پروفایل من</a>
      </div>
    </header>

    <main class="posts-container">
      <div class="post-card">
        <img src="undefined picture.png" alt="پست من ۱">
        <div class="post-info">
          <h2>عنوان پست من اول</h2>
          <p>توضیح کوتاه درباره این پست که کاربر نوشته است.</p>
          <a href="/post/1" class="read-more">ادامه مطلب</a>
        </div>
      </div>

    </main>
  </div>
</body>
</html>
